*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #12100C;
    background: #F5F3F4;
}

img{ 
    max-width: 100%;
    height: auto;
}

p{
    margin: 0;
}

h3{
    font-size: 54px;
    font-weight: 700;
}


.swiper {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    background: #fff;
    padding: 25px;
    border-radius: 16px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #12100C;
    cursor: pointer;
  }

  .swiper .swiper-slide p{
      margin-bottom: 15px;
  }
  .swiper .swiper-slide .slider-dev .slider-text{
      margin-left: 15px;
  }
  .swiper .swiper-slide .slider-dev .slider-text p{
      margin: 0;
      font-weight: 700;
  }
  .swiper .swiper-slide .slider-dev .slider-text span{
      text-decoration: underline !important;
  }
  


header .navbar{
    width: 100%;
}
header .navbar .navbar-brand{
    display: flex;
    align-items: center;
    font-size: 25px;
}
header .navbar .navbar-brand img{
    margin-right: 10px;
}

header .navbar .navbar-nav{
    width: 100%;
    justify-content: center;
}
header .navbar-light .navbar-nav .nav-link{
    margin-right: 48px;
    padding: 0;
    color: rgba(18, 16, 12, 0.7);
} 

header .collapse .nav-btn{
    font-size: 14px;
    padding: 6px 23px;
    background: #12100C;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transition: .5s ease;
}

header .collapse .nav-btn:hover{
    background: #FF8E07;
    color: #000;
}

header .header-item{
    margin-top: 80px;
}
header .header-item-left h1{
    font-size: 77px;
    font-weight: 700;
    margin-bottom: 38px;
}

header .header-item-left p{
    font-size: 23px;
    margin-bottom: 48px;
}
header .header-item-left .header-item-btn .item-btn{
    padding: 12px 46px;
    background: #FFAE33;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    margin-right: 24px;
}
header .header-item-left .header-item-img img{
    margin-top: 20px;
    margin-right: 28px;
}
.project{
    padding: 176px 0 340px;
}
.project .project-text h2{
    font-size: 54px;
    font-weight: 700;
}
.project .project-text span{
    text-decoration: line-through !important;
    color: #999795;
    font-weight: 400;
}
.command{
    padding-bottom: 330px;
}
.command-items .command-item-left h3{
    font-size: 32px;
    
}
.command-items .command-item-left p{
    font-size: 19px;
    margin-bottom: 150px;
}
.command-items .command-item-left .command-item-btns .command-item-btn{
    padding: 7px 18px;
    background: #FFAE33;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    color: #12100C;
    margin-right: 16px;
}
.command-items .command-item-left .command-item-btns .command-item-btn:nth-child(2){
    background: #FFB0AE;
}

.vs-code{
    padding-bottom: 175px;
}

.vs-code .vs-code-item h3{
    margin-bottom: 50px;
}
.vs-code .vs-code-item p{
    font-size: 24px;
    margin: 50px 0;
}

.vs-code .cs-code-btn{
    padding: 12px;
    box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    background: #FFFFFF;
    margin-right: 20px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.vs-code .cs-code-btn img{
    margin-right: 10px;
}

.developers{
    padding-bottom: 125px;
}

.partners{
    padding-bottom: 200px;
}


.project-git{
    padding-bottom: 160px;
}
.project-git .project-git-title h3{
    margin-bottom: 50px;
}
.project-git .project-git-item .col-lg-6{
    margin: 0 15px;
}
.project-git .project-git-item h4{
    font-size: 32px;
}
.project-git .project-git-item p{
    font-size: 22px;
    margin-bottom: 32px;
}
.project-git .project-git-item .project-git-left{
    background: #fff;
    border-radius: 20px;
    padding: 56px 56px 60px;
}

.project-git .project-git-item .project-git-right{
    background: #fff;
    border-radius: 20px;
    padding: 56px 56px 88px;
}

.project-git .project-git-item .project-git-left span{
    font-size: 20px;
    color: rgba(18, 16, 12, 0.7);
}
.project-git .project-git-item .project-git-left .project-link{
    padding: 5px 16px;
    background: #FFE4BC;
    border-radius: 12px;
}
.project-git .project-git-item .project-git-left .project-git-btns a{
    width: 262px;
    padding: 10px 33px;
    background: #FC6D26;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 60px;
    border-radius: 15px;
}
.project-git .project-git-item .project-git-left .project-git-btns{
    margin-bottom: 64px;
}
.project-git .project-git-item .project-git-left .project-git-btns a img{
    margin-right: 16px;
}
.project-git .project-git-item .project-git-left .project-git-btns a:nth-child(2){
    background: #000000;
    margin-top: 0px
}
.project-git .project-git-item .project-git-left .project-git-btns a:nth-child(3){
    background: #2684FF;
    margin-top: 0px
}

.project-git .project-git-item .project-git-right .lang{
    padding: 15px;
    background: #F9F9F9;
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.project-git .project-git-item .project-git-right .lang img{
    margin-right: 16px;
}
.project-git .project-git-item .project-git-right .lang span{
    font-size: 20px;
}
.project-git .project-git-item .project-git-right .lang a{
    padding: 8px 12px;
    background: #000000;
    border-radius: 12px;
    color: #ffffff;
    font-size: 14px;
}

footer{
    padding: 47px 0 0;
    background: #F9F9F9;
}

footer .footer-box .footer-box-nav .box-item p{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}
footer .footer-box .footer-box-nav .box-item ul li a{
    font-size: 13px;
    margin-bottom: 10px;
    color: rgba(18, 16, 12, 0.7);
}
footer .footer-box .footer-item-bootom span{
    font-size: 13px;
    margin-left: 10px;
    color: rgba(18, 16, 12, 0.7);
}
footer .footer-bottom{
    padding: 12px 16px;
    background: #ECE7E5;
}

footer .footer-bottom p{
    color: rgba(18, 16, 12, 0.7);
}
footer .footer-bottom p span{
    text-decoration: underline !important;
}

footer .footer-bottom a{
   padding: 8px 24px;
   background: #F9F9F9;
   border-radius: 8px;
   color: #000000;

}

@media (max-width: 768px){
    h3{
        font-size: 48px;
    }
    header .header-item-left h1{
        font-size: 60px;
    }
    header .header-item-left p{
        font-size: 16px;
    }
   
    .project .project-text h2{
        font-size: 50px;
    }
    .command-item-left{
        margin-bottom: 20px;
    }
    .command-items .command-item-left p{
        margin-bottom: 50px;
    }
    .project-git-item{
        flex-wrap: wrap;
    }
    .project-git-left{
        margin-bottom: 30px !important;
    }
    .project-git .project-git-item p{
        font-size: 19px;
    }
    .project-git .project-git-item h4{
        font-size: 25px;
    }
    .project-git .project-git-item .project-git-right .lang span{
        font-size: 16px;
    }
    footer .footer-bottom p{
        font-size: 13px;
    }
    footer .footer-bottom a{
        font-size: 13px;
    }
}
@media (max-width: 768px){
    h3{
        font-size: 35px;
    }
    .project .project-text h2 {
        font-size: 37px;
    }
    .vs-code .vs-code-item p{
        font-size: 14px;
    }

}
